<div style="padding: 5px;">
    <h1>Register Employee Details.</h1>
    <nav md-tab-nav-bar>
        <a md-tab-link
           *ngFor="let routeLink of routeLinks; let i = index;"
           [routerLink]="routeLink.link"
           routerLinkActive="mat-tab-link-active"
           #rla="routerLinkActive"

           (click)="activeLinkIndex = i"
           [routerLinkActiveOptions]="{exact: true}">
            {{routeLink.label}}
        </a>
    </nav>

    <router-outlet></router-outlet>
</div>
